input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: $lightGrayishCyan;
    top: -5px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

//什麼意思?

#add-items {
    padding: 0px;
}

.add-container {
    display: flex;
    justify-content: center;

    .styled-input {
        margin: 20px 10px;
        position: relative;
        border-radius: 4px;
    
        label {
            color: $lightGrayishCyan;
            padding: 1.3rem 30px 1rem 30px;
            position: absolute;
            top: 0px;
            left: -16px;
            transition: all 0.25s ease;
            pointer-events: none;
        }

        //opacity transition
    
        input {
        text-align: center;
        padding: 20px;
        border: 0;
        font-size: 1rem;
        background-color: $desaturatedDarkCyan;
        color: $lightGrayishCyan;
        border-radius: 4px;
        }
    
        input:focus,
        textarea:focus { outline: 0; }
    }

    .add-button {
        border: none;
        color: $lightGrayishCyan;
        background-color: $grayishBlue;
        font-weight: 300;
        font-size: 1rem;
    }
}












