body {
    position: relative;

    .topbar {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: -30px;
        padding: 1.625rem;
        border-radius: 5px;
        box-shadow: $desaturatedDarkCyan 0px 11px 25px -10px;  
        text-align: center;
        font-size: $font-med;
        font-weight: 500;
        color: veryDarkGrayish;
    }

.container {
    display: block;
    margin: 100px auto;
    width: 70%;

    .item {
        display: block;
        position: relative;
        background: $white;
        margin: 20px auto;
        padding: 16px;
        border-radius: 5px;
        box-shadow: $desaturatedDarkCyan 0px 8px 15px -10px;  
        
        .infoWrap {
            display: flex;
            justify-content: space-between;

            .info {
                vertical-align: middle;    
                
                .itemNumber {
                    display: block;
                    margin-top: 0px;
                    margin-left: 6px;
                    margin-bottom: 0px;
                    font-size: $font-sm;
                    font-weight: 100;
                    opacity: 0.5;
                }
            
                .itemName {
                    display: block;
                    margin-top: 0px;
                    margin-left: 6px;
                    margin-bottom: 0px;
                    font-size: 28px;
                    color: $desaturatedDarkCyan;
                    
                }           
            }

            .total-price {
                vertical-align: middle;
                text-align: center;
                font-size: $font-sm;
                position: absolute;
                right: 16px;
                bottom: 0px;
            }

            .removeWrap {
                vertical-align: middle;

                .delete {
                    text-decoration: none;
                    font-family: "Montserrat", sans-serif;
                    color: #ffffff;
                    font-weight: bold;
                    background: $grayishBlue;
                    padding: 0.5em 0.7em;
                    font-size: 0.75em;
                    border-radius: 100%;
                    line-height: 0.8;
                    border: none;
                }
            }
        }
    }
}

}

