html {
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(180deg, 52%, 96%);
  font-family: "Public Sans", sans-serif;
}

.click-button {
  cursor: pointer;
}
.click-button:hover {
  opacity: 0.5;
  transition: all 0.4s ease;
}

header img {
  position: relative;
  width: 100%;
  background-color: hsl(180deg, 29%, 50%);
  font-family: "Public Sans", sans-serif;
}

body {
  position: relative;
}
body .topbar {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
  margin-top: -30px;
  padding: 1.625rem;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 11px 25px -10px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: veryDarkGrayish;
}
body .container {
  display: block;
  margin: 100px auto;
  width: 70%;
}
body .container .item {
  display: block;
  position: relative;
  background: hsl(0deg, 0%, 100%);
  margin: 20px auto;
  padding: 16px;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 8px 15px -10px;
}
body .container .item .infoWrap {
  display: flex;
  justify-content: space-between;
}
body .container .item .infoWrap .info {
  vertical-align: middle;
}
body .container .item .infoWrap .info .itemNumber {
  display: block;
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 100;
  opacity: 0.5;
}
body .container .item .infoWrap .info .itemName {
  display: block;
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 0px;
  font-size: 28px;
  color: hsl(180deg, 29%, 50%);
}
body .container .item .infoWrap .total-price {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  position: absolute;
  right: 16px;
  bottom: 0px;
}
body .container .item .infoWrap .removeWrap {
  vertical-align: middle;
}
body .container .item .infoWrap .removeWrap .delete {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: hsl(233deg, 8%, 62%);
  padding: 0.5em 0.7em;
  font-size: 0.75em;
  border-radius: 100%;
  line-height: 0.8;
  border: none;
}

.inner-footer {
  background: hsl(0deg, 0%, 100%);
  margin: 20px auto;
  padding: 1.625rem;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 8px 15px -10px;
}
.inner-footer .footerWrap {
  background: hsl(180deg, 29%, 50%);
  border-radius: inherit;
  text-align: center;
}
.inner-footer .footerWrap .footerTitle {
  display: inline-block;
  margin-right: 40px;
}
.inner-footer .footerWrap .footerTitle ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
}
.inner-footer .footerWrap .footerTitle ul li {
  margin: 10px auto;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
.inner-footer .footerWrap .footerNumbers {
  display: inline-block;
}
.inner-footer .footerWrap .footerNumbers ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
}
.inner-footer .footerWrap .footerNumbers ul li {
  margin: 10px auto;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: hsl(180deg, 52%, 96%);
  top: -5px;
  transition: all 0.25s ease;
}

#add-items {
  padding: 0px;
}

.add-container {
  display: flex;
  justify-content: center;
}
.add-container .styled-input {
  margin: 20px 10px;
  position: relative;
  border-radius: 4px;
}
.add-container .styled-input label {
  color: hsl(180deg, 52%, 96%);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 0px;
  left: -16px;
  transition: all 0.25s ease;
  pointer-events: none;
}
.add-container .styled-input input {
  text-align: center;
  padding: 20px;
  border: 0;
  font-size: 1rem;
  background-color: hsl(180deg, 29%, 50%);
  color: hsl(180deg, 52%, 96%);
  border-radius: 4px;
}
.add-container .styled-input input:focus,
.add-container .styled-input textarea:focus {
  outline: 0;
}
.add-container .add-button {
  border: none;
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(233deg, 8%, 62%);
  font-weight: 300;
  font-size: 1rem;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 700ms ease-in-out forwards;
          animation: fade-in 700ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 500ms ease-in-out forwards;
          animation: fade-out 500ms ease-in-out forwards;
}/*# sourceMappingURL=style.css.map */